<div>
    <h1>Каталог фильмов</h1>
    <p>{{ message }}</p>
    <div ng-show="films.length > 0">
        <a href="#/film/create" class="btn btn-primary">
            <i class="glyphicon glyphicon-icon"></i> Добавить
        </a>
        <table class="table table-striped table-hover">
            <thead>
                <th>Название</th>
                <th>Режиссер</th>
                <th>Описание</th>
                <th>Год</th>
                <th style="width: 80px;">Действия&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in films">
                    <td>{{ data.title }}</td>
                    <td>{{ data.director }}</td>
                    <td>{{ data.storyline }}</td>
                    <td>{{ data.year}}</td>
                    <td>
                        <a href="#/film/update/{{ data.id }}" class="btn btn-primary btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a ng-click="deleteFilm(data.id)" class="btn btn-danger btn-xs">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="films.length == 0">
        Каталог фильмов пуст
    </div>
</div>